.button {
  @apply font-sans text-xs tracking-wide md:text-sm;
}

.button:hover .perspective {
  transform: rotateX(90deg);
}

.button:hover .perspective > p:nth-of-type(1) {
  transform: translateY(-100%);
  opacity: 0;
}

.button:hover .perspective > p:nth-of-type(2) {
  opacity: 1;
}

.perspective {
  @apply relative flex h-full w-full items-center justify-center;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  transform-style: preserve-3d;
}

.perspective > p {
  @apply flex h-full w-full items-center justify-center;
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspective > p:nth-of-type(2) {
  position: absolute;
  opacity: 0;
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
